<h1> <%= @sub.title %></h1>

<h3> Description </h3>

<h3> <%= @sub.description %></h3>

<a href="<%= new_post_url %>">Make new post!</a>
<ul>
    <% @sub.posts.all do |post| %>
        <li> <a href="<%= post_url(post) %>"<%= post.title %>></a></li>
    <% end %>
</ul>
<a href="<%= edit_post_url(@sub) %>">Edit</a>